div#image {
    position: relative;
    display: inline-block;
}

div#image > img {
    position: relative;
    max-width: 100%;
}

div#image > canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
